/**********************************
	COMPONENTS: Layout modules that are reused on multiple pages

**********************************/


// Container for navigation buttons at bottom of screen

.btn-pagination {
  clear: both;
  @include clearfix;
  margin: 0 0 2em 1em;
  padding: 0;
}


// Float right for wider displays

@media only screen and (min-width: $small-handheld) {
  .floated {
    float: right;
    margin-right: 0em;
    margin-left: 0.25em;
  }
}


// Temporary messages to inform the user of a change
.toast {
  display: inline-block;
  background: $white url("../img/sprite-close.svg") no-repeat right 1em;
  background-size: 35px 250px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  font-weight: normal;
  min-width: 250px;
  margin: 1em 0;
  padding: 0;
  position: fixed;
  right: 10px;
  top: -7px;
  color: $gray-mid;
  z-index: 100;

  &:focus,
  &:hover {
    background: $white url("../img/sprite-close.svg") no-repeat right -206px;
    background-size: 35px 250px;
    border: 1px solid $black;
    box-shadow: none;
    transition: box-shadow 0.25s ease;
    cursor: pointer;
    color: $black;
  }

  .toast-type {
    border: 1px solid tint($green, 90%);
    border-right: none;
    display: inline-block;
    float: left;
    height: 47px;
    padding: 0.4em 1em;
    width: 30px;
  }

  .toast--success {
    background: $green url("../img/ico-tick-white.svg") no-repeat 50% 50%;
    background-size: 24px 24px;
  }

  .toast-content {
    display: inline-block;
    float: left;
    padding: 1.1em 3em 0 1em;
  }
}


// Highlight with a background colour

.highlight {
  background: tint($blue, 85%);
  padding: 0.5em 1.5em 1em 1.5em;
  margin-bottom: 1em;
}


// Styling the word "or" to provide greater distinction between 2 options

.or {
  background: white url(../img/bg-line.png) repeat-x 0 35%;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  height: 33px;
  margin: 2em 0 1em 0;
  span {
    background-color: tint($gray-mid, 50%);
    padding: 0.6em 0.5em;
    border-radius: 50%;
    margin-top: 0;
 
  }
}

.pil {
  background: $red;
  color: white;
  font-size: 0.75rem;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px !important;
  border-radius: 50%;
  margin-left: 1px;

  &.blue {
    background: $blue;
  }

  strong {
    font-weight: normal;
  }
}


// Contact card in edit user

.contact-card {
  border-radius: 3px;
  border: 2px solid tint($gray-mid, 80%);
  padding: 2em 2em 1.25em 2em;
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
  .col-lg-4 {
    text-align: center;
  }
  img {
    max-width: 150px;
    margin-bottom: 1em;
  }
}

// Message for displaying eligibility status

.message {
  margin-bottom: 2em;
  h2 {
    font-size: 1.5rem;
    padding: 0.1em 0 1em 1.75em;
  }
  &.message-success {
    background: white url(../img/ico-tick-green.svg) no-repeat 0 0;
    background-size: 32px 32px;
  }
}


// Bootstrap tabs

.nav-tabs {
  .nav-item {
    .nav-link {
      padding-left: 55px;
      padding-right: 30px;

      &.nav-link-manual {
        background: url(../img/ico-data-entry.svg) no-repeat 1.75em 50%;
        background-size: 16px 16px;
      }

      &.nav-link-upload {
        background: url(../img/ico-data-upload.svg) no-repeat 1.75em 50%;
        background-size: 16px 16px;
      }

      &.nav-link.active {
        -webkit-box-shadow: 0 1px 8px 1px rgba(0,0,0,.15);
        box-shadow: 0 1px 8px 1px rgba(0,0,0,.15);
        background-color: $white;
      }
    }
  }
}
