/**********************************
	COMPONENTS: Layout modules that are reused on multiple pages

**********************************/

// Reference data beside My Schools table

.container-data-table {
  float: left;
  width: 70%;
}

.container-reference {
  border: 1px solid tint($yellow, 60%);
  border-left: 6px solid tint($yellow, 60%);
  background-color: tint($yellow, 90%);
  padding: 2em 2.5em 0.5em 2em;
  float: right;
  width: 25%;
  margin-left: 5%;
}

.centred {
  text-align: center;

  .btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1em 1.25em;
    margin: 1.5em 0.25em 0 0.25em;
  }

  .btn-primary {
    background-color: $yellow;
    color: $black;

    &:focus,
    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.success {
  background-color: white;
  padding: 1em 1.5em 0.25em 2em;

  h1 {
    background: transparent url(../img/ico-tick-green.svg) no-repeat 0 0.3em;
    background-size: 40px 40px;
    font-size: 1.6rem;
    padding: 0.5em 0 1em 52px;
    margin: 0;
  }
}


// Container for navigation buttons at bottom of screen
.btn-pagination {
  border-top: 1px solid $gray-light !important;
  clear: both;
  @include clearfix;
  margin: 2em 0 2em 0;
  padding-top: 2em;
}
// Float right for wider displays
@media only screen and (min-width: $small-handheld) {
  .floated {
    float: right;
    margin-right: 0em;
    margin-left: 0.25em;
  }
}
// Call out box for important information
.information-box, .message-box {
  background: transparent url(../img/ico-info-yellow.svg) no-repeat 1.75em 2em;
  background-size: 28px 28px;
  border: 1px solid tint($yellow, 60%);
  border-left: 6px solid tint($yellow, 60%);
  background-color: tint($yellow, 90%);
  padding: 2em 2em 1.5em 4em;
  display: block;
  margin-bottom: 2em;

  h2,
  h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 0;
    clear: none;
  }

  ul {
    margin-bottom: 0;
  }
}

// Help icons displayed at form level
.inline-help {
  float: right;

  a {
    background: transparent url(../img/ico-help-gray.svg) no-repeat 0 0.25em;
    background-size: 36px 36px;
    width: 40px;
    height: 42px;
    display: inline-block;
    text-decoration: none;
    border-bottom: none;

    &:focus,
    &:hover {
      background: transparent url(../img/ico-help-black.svg) no-repeat 0 0.25em;
      background-size: 36px 36px;
    }
  }
}
// Reduced icon size within tables
.help {
  .inline-help {
    a {
      background: transparent url(../img/ico-help-gray.svg) no-repeat 50% 2px;
      background-size: 24px 24px;
      height: 26px;
    }

    &:focus,
    &:hover {
      background: transparent url(../img/ico-help-black.svg) no-repeat 50% 2px;
      background-size: 24px 24px;
    }
  }
}


// Content sections on home page
section {
  margin: 2em 0 1em 0;

  h2 {
    font-size: 1.5rem;
  }
}


// Temporary messages to inform the user of a change
.toast {
  display: inline-block;
  background: $white url("../img/sprite-close.svg") no-repeat right 1em;
  background-size: 35px 250px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  font-weight: normal;
  min-width: 250px;
  margin: 1em 0;
  padding: 0;
  position: fixed;
  right: 10px;
  top: -7px;
  color: $gray-mid;
  z-index: 100;

  &:focus,
  &:hover {
    background: $white url("../img/sprite-close.svg") no-repeat right -206px;
    background-size: 35px 250px;
    border: 1px solid $black;
    box-shadow: none;
    transition: box-shadow 0.25s ease;
    cursor: pointer;
    color: $black;
  }

  .toast-type {
    border: 1px solid tint($green, 90%);
    border-right: none;
    display: inline-block;
    float: left;
    height: 47px;
    padding: 0.4em 1em;
    width: 30px;
  }

  .toast--success {
    background: $green url("../img/ico-tick-white.svg") no-repeat 50% 50%;
    background-size: 24px 24px;
  }

  .toast-content {
    display: inline-block;
    float: left;
    padding: 1.1em 3em 0 1em;
  }
}

// Highlight with a background colour
.highlight {
  background: tint($blue, 85%);
  padding: 0.5em 1.5em 1em 1.5em;
  margin-bottom: 1em;
}


// Styling the word "or" to provide greater distinction between 2 options
.or {
  background: white url(../img/bg-line.png) repeat-x 0 35%;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  height: 33px;
  margin: 2em 0 1em 0;
  span {
    background-color: tint($gray-mid, 50%);
    padding: 0.6em 0.5em;
    border-radius: 50%;
    margin-top: 0;
 
  }
}

.pil {
  background: $red;
  color: white;
  font-size: 0.75rem;
  width: 18px;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 18px !important;
  border-radius: 50%;
  margin-left: 1px;

  &.blue {
    background: $blue;
  }

  strong {
    font-weight: normal;
  }
}

// Contact card in edit user
.contact-card {
  background: $white url(../img/ico-user.svg) no-repeat 1.2em 1.2em;
  background-size: 45px 45px;
  border-radius: 3px;
  border: 2px solid tint($gray-mid, 80%);
  padding: 1em 2em 1.25em 80px;
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;

  &.role-qualification {
    background: $white url(../img/ico-qualification.svg) no-repeat 1.2em 1.2em;
    background-size: 45px 45px;
  }

  &.role-card {
    background: $white url(../img/ico-school.svg) no-repeat 1.2em 1.2em;
    background-size: 45px 45px;

    p {
      margin-bottom: 0;
    }

    ul {
      margin: 0 0 0.5em 0;
      padding: 0;

      li {
        padding: 0;
        list-style-type: none;

        ul {
          padding: 0 0 1em 1.5em;

          li {
            font-weight: normal;
            list-style: square;
          }
        }
      }
    }
  }
}
// Buttons under cards to reduce spacing between card and related buttons
.card-buttons {
  margin-top: -1em;
}

// Bootstrap tabs

.nav-tabs {
  .nav-item {
    .nav-link {
      padding-left: 55px;
      padding-right: 30px;

      &.nav-link-manual {
        background: url(../img/ico-data-entry.svg) no-repeat 1.75em 50%;
        background-size: 16px 16px;
      }

      &.nav-link-upload {
        background: url(../img/ico-data-upload.svg) no-repeat 1.75em 50%;
        background-size: 16px 16px;
      }

      &.nav-link.active {
        -webkit-box-shadow: 0 1px 8px 1px rgba(0,0,0,.15);
        box-shadow: 0 1px 8px 1px rgba(0,0,0,.15);
        background-color: $white;
      }
    }
  }
}
