// General layout classes //

.container-dashboard > .row {
  margin-top: 1.5em;
}

footer {
  @include clearfix;
  display: block;
  clear: both;
  color: $black;
  //background: tint($gray-mid, 85%);
  border-top: 1px solid tint($gray-mid, 60%);
  -webkit-box-shadow: inset 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 4px 15px 0 rgba(0,0,0,0.15);
  text-align: center;
  margin: 1.5em auto 0 auto;
  padding: 1em 3% 1em 1em;

  img {
  background-color: white;
    width: 275px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.9em 0 0 0;
  }

  li {
    text-align: center;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: $small-handheld) {
  footer {
    text-align: left;

    img {
      float: left;
    }

    ul {
      float: right;
      //margin-right: 2em;
    }

    li {
      display: inline-block;
      margin: 0 0.75em 1.5em 0.75em;

      &:last-child {
        margin: 0 0 1.5em 0.75em;
      }
    }
  }
}
