// Hide navigation for narrow displays
.container-global-nav {
  display: none;
}

// Main content area on authenticated pages
.container-dashboard {
  background-color: $gray-light;
}


// Narrow width styling for functional nav
.container-functional-nav {
  position: absolute;
  background-color: $black;
  top: -800px;
  z-index: 1000;
  width: 100%;
  transition: all 0.5s ease;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5);

  hr {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;

    li {
      a {
        color: $white;
        padding: 0.5em 0 0.5em 1.5em;
        display: block;

        &:focus,
        &:hover {
          background-color: $black;
          color: $white;
          //border-bottom: 1px solid $white;
        }
      }
    }
  }
}

.btn-nav-toggle {
  padding: 0.75em;
  font-weight: bold;
  margin: 1em 1em 0 0;
  float: right;
}

// Small red numbered icon representing unread notifications
a {
  position: relative;

  .pil {
    position: absolute;
    top: 0;
    right: 12px;
  }
}

// To show navigation on menu button click
.is-active {
  top: 84px;
  transition: all 0.5s ease;
}

// Navigation on unauthenticated pages
.site-nav {
  background: $blue;
  color: $black;
  display: block;
  clear: both;
  float: none;
  margin-bottom: 0;
  padding: 0 0 0 1em;
  min-height: 5px;
  @include clearfix;

  p {
    font-weight: normal;
    font-size: 1rem !important;
    background-color: $yellow;
    padding: 0.25em 0.5em;
    margin: 0.5em 0.5em 0 0;
  }


  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      text-transform: none;
      margin: 0;
      font-size: 0.95rem;

      &.site-nav-active > a {
        border-bottom: 4px solid $yellow;
      }


      a {
        color: $white;
        display: block;
        border-bottom: none;
        padding: 0.75em 1em 0.7em 1em;
        border-bottom: 4px solid $blue;

        &:hover,
        &:focus {
          border-bottom: 4px solid $yellow;
          transition: 0.5s;
          text-decoration: none;
        }
      }
    }
  }
}

.header-nav-home {
  .site-nav {
    background: $blue;
  }
}

@media only screen and (min-width: $medium-handheld) {
  .site-nav {
    p {
      display: inline-block;
      float: right;

      &.collection-name {
        float: left;
      }

      &.organisation-name {
        float: right;
      }
    }
  }
}

@media only screen and (min-width: $medium-handheld) {
  // Hide toggle navigation button since navigation will be displayed
  .btn-nav-toggle {
    display: none;
  }

  // GLOBAL NAVIGATION
  //---------------------------------------------------------------//

  .container-global-nav {
    display: inline-block;
    float: right;

    ul {
      list-style-type: none;
      clear: both;
      margin: 0 2em 0 0;
      padding: 0 0 0 0;

      li {
        display: inline-block;
        text-transform: none;
        margin: 0;
        font-size: 0.95rem;
        text-align: center;
        background-repeat: no-repeat;
        background-position: 50% 1.4em;

        &.global-nav-active a {
          color: $black !important;
        }

        a {
          display: block;
          border-bottom: none;
          padding: 2.3em 0 0.8em 0;
          line-height: 2.4em;
          width: 6em;
          color: white;


          .pil {
            top: 1.1em;
            right: 2.1em;
          }


          &:hover,
          &:focus {
            background-color: none !important;
            text-decoration: none;
          }
        }

        &.nav-inbox {
          background-image: url(../img/sprite-inbox.png);

          &:hover,
          &:focus {
            background: tint($blue-dark, 20%) url(../img/sprite-inbox.png) no-repeat 50% 1.4em;
            transition: 0.5s;
          }

          &.global-nav-active {
            background: $yellow url(../img/sprite-inbox.png) no-repeat 50% -107px;
          }
        }

        &.nav-profile {
          background-image: url(../img/sprite-profile.png);

          &:hover,
          &:focus {
            background: tint($blue-dark, 20%) url(../img/sprite-profile.png) no-repeat 50% 1.4em;
            transition: 0.5s;
          }

          &.global-nav-active {
            background: $yellow url(../img/sprite-profile.png) no-repeat 50% -107px;
          }
        }

        &.nav-signing {
          background-image: url(../img/sprite-signing.png);

          &:hover,
          &:focus {
            background: tint($blue-dark, 20%) url(../img/sprite-signing.png) no-repeat 50% 1.4em;
            transition: 0.5s;
          }

          &.global-nav-active {
            background: $yellow url(../img/sprite-signing.png) no-repeat 50% -107px;
          }
        }
      }
    }
  }

  // FUNCTIONAL LEFT NAVIGATION
  //---------------------------------------------------------------//
  .container-functional-nav {
    top: 70px;
    display: block;
    background-color: transparent;
    box-shadow: none;
    transition: none;

    ul {
      margin: 2.25em 0 0.75em 0;
      padding: 0;
    }

    ul {
      li {
        &.help-links {
          border-top: 1px solid $gray-light;
          margin: 0.6em 0 0.5em -1.75em;
          padding: 1em 0 0.75em 0;
          text-transform: uppercase;
        }

        a {
          color: $gray-mid;
          text-decoration: none;
          padding: 0.75em 0 0.75em 3.75em;
          font-size: 0.9rem;
          display: block;
          border-bottom: none;

          &:focus,
          &:hover {
            background-color: $gray-light !important;
            color: $black;
          }

          &.home {
            background: transparent url(../img/nav-home.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.notifications {
            background: transparent url(../img/nav-notifications.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.organisation {
            background: transparent url(../img/nav-organisation.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.access {
            background: transparent url(../img/nav-access.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.finance {
            background: transparent url(../img/nav-finance.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.calendar {
            background: transparent url(../img/nav-calendar.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.checklist {
            background: transparent url(../img/nav-checklist.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.reports {
            background: transparent url(../img/nav-reports.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.profile {
            background: transparent url(../img/nav-profile.svg) no-repeat 1.5em 1px;
            background-size: 20px 228px;
          }

          &.nav-active {
            color: $black;
            background-color: tint($yellow, 85%);
            background-position: 1.5em -186px;
            border-right: 4px solid $yellow;
          }
        }
      }

    }
  }



  .container-functional-nav {
    width: 225px;
    float: left;
  }

  .container-dashboard {
    width: calc(100% - 225px);
    padding: 0 3%;
    float: right;
  }

  .application {
    .container-functional-nav {
      top: 110px;
    }

    .site-nav {
      padding: 0 0 0 0.5em;
      min-height: 50px;
    }
  }
}

