// Unauthenticated pages //

body.unauthenticated {
  background: transparent url(../img/bg-hero.jpg) no-repeat 30% 0;
  background-size: cover;
}

.center {
  text-align: center;
  padding-bottom: 20vh;
  overflow-y: hidden;
  background-color: white;
}
.forgot {
  margin-top: 2em;
}

.container-signin {
  padding: 0 2em;
}

.container-intro {
  padding: 13vh 25vw 5vh 8vw;
  color: white;
  h2 {
    text-transform: uppercase;
  }
}
