// Unauthenticated pages //

body.unauthenticated {
  background: transparent url(../img/bg-hero.jpg) no-repeat 30% 0;
  background-size: cover;
}

.center {
  text-align: center;
  padding-bottom: 20vh;
  overflow-y: hidden;
  background-color: white;
}
.forgot {
  margin-top: 2em;
}

.container-signin {
  padding: 0 2em;
}

.container-intro {
  background-color: rgba(0,0,0,0.5);
  margin: 10vh 20vw 5vh 6vw;
  border-radius: 4px;
  padding: 2em 4em;
  color: white;
  h2 {
    text-transform: uppercase;
  }
}
