// Table styling

table {
  border-top: 1px solid $gray-light;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;

  caption {
    max-width: 100%;
    caption-side: top !important;
  }

  th,
  td {
    padding: 0.65em 0.5em;
    font-size: 0.9rem;
    text-align: left;
    vertical-align: middle;

  }

  th {
    border-bottom: 1px solid $gray-light;
    background-color: tint($gray-mid, 75%);
    border-top: none;
    text-align: left;
  }

  td {
    border-bottom: 1px solid $gray-light;
    background-color: white;

  }

}

