// Table styling

table {
  border-top: 1px solid $gray-light;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;

  caption {
    max-width: 100%;
    caption-side: top !important;
  }

  th,
  td {
    padding: 0.65em 0.5em;
    font-size: 0.9rem;
    text-align: left;
    vertical-align: middle;

  }

  th {
    border-bottom: 1px solid $gray-light;
    background-color: tint($gray-mid, 75%);
    border-top: none;
    text-align: left;
  }

  td {
    border-bottom: 1px solid $gray-light;
    background-color: white;
  }
}

.read-only {
  background-color: $gray-light;
  padding: 0.5em 1em;
  table {
    margin-top: 0.75em;
  }
  th, td {
    border-bottom: 1px solid tint($gray-mid, 85%);
    background-color: $white;
    font-weight: normal;
    font-size: 0.85rem;
  }
  th {
    background-color: $gray-ultralight;
  }
}

.status {
  th,
  td {
    padding: 0.25em 0.5em;
    font-size: 0.85rem;
    text-align: left;
    vertical-align: top;
  }

  th {
    border-bottom: 1px solid $gray-light;
    background-color: white;
    font-weight: normal;
    border-top: none;
    text-align: left;
  }
}
