/**********************************
	Widgets are small summary boxes which link to a specific function or feature

**********************************/

// Container

.widget {
  background-color: white;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0 4px 8px 1px rgba(0,0,0,.15);
  box-shadow: 0 4px 8px 1px rgba(0,0,0,.15);
  margin: 0 0 1em 0;
  padding-bottom: 0.5em;
  position: relative;

  h2 {
    font-size: 1.3rem;
    padding: 0.5em 0 0.25em 0;
    margin: 0;
  }

  p {
    font-size: 0.9rem;
  }

  .widget-header {
    padding: 0.3em 2em 0 2em;
    li {
      font-size: 0.9rem;
    }
  }

  .widget-content {
    padding: 1em 2em 1em 2em;
    font-size: 0.9rem;

    .btn {
      margin: 0;
    }
  }

  .status-date {
    font-size: 0.85rem;
    font-weight: normal;
    display: block;
    color: $gray-mid;
  }
  // For widgets containing tables that stretch to the edges
  &.no-padding {
    .widget-content {
      padding: 0 0 1em 0;
    }

    .buttons {
      margin-left: 2em;
    }
  }

  &.no-padding-top {
    .widget-content {
      padding: 0 2em 2em 2em;
    }
  }
  // Tighter padding for displaying data
  &.widget-data {
    .widget-header {
      padding: 0.1em 1em 0 1em;

      h3 {
        padding: 0;
        font-size: 1.1rem;
        padding: 0.25em 0;
        margin: 0.5em 0;
      }
    }

    .widget-content {
      padding: 0;
    }
  }
}

// Displaying status on dashboard

table.table-status {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-top: 1px solid $gray-light;
  td {
    &.message {
      background: transparent url(../img/ico-unread.svg) no-repeat 0 50%;
      background-size: 16px 16px;
      width: 75%;
      padding-left: 2em;
      font-weight: bold;
    }
    &.date {
      width: 25%;
      text-align: right;
      white-space: nowrap;
    }
  }
}


@media only screen and (min-width: $medium-handheld) {
  .widget {
    margin: 0 0 2em 0;
  }
}
